name: CI/CD Pipeline Frontend-Web

on:
  push:
    branches: [main, development]
  workflow_dispatch:
        
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      
      - name: docker version
        run: docker version

      - name: docker container up down
        run: |
          docker-compose up -d --build

      - name: list docker containers
        run: |
          sleep 20
          docker ps -a      